<!DOCTYPE html>
<html>
<head>
  <script src="https://use.typekit.net/hoy3lrg.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
  <link class="cp-pen-styles" rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/bootstrap/js/bootstrap.min.js"/>
  <link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.css" id="bootstrap-css"/>
  <link rel='stylesheet' href='/stylesheets/fonte.css' />
  <script src="javascripts/sockeIOLIB2_10.js"></script>
  <script src="/javascripts/jquery.js"></script>
</head>
<body>
  <div id="frame">
    <div id="sidepanel">
      <div id="profile" class="expanded">
        <div class="wrap">
          <img id="profile-img" src="/images/avatar.png" class="online" >
          <div id="nameBot">
            <p>Astolfo C.</span></p>
            <span>Astolfo Coleoptera</span>
          </div>
          <div id="expanded" style="background=grey;">
            <h3>Sobre</h3>
            <div>
              <p  style=" margin: 3px;  background-color: grey;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                Meu proposito e levar um pouco de conhecimento sobre Engenharia de software.
                Especificamente sobre levantamento de requisitos.</p>
              </div>
            </div>
          </div>
        </div>
        <div id="bottom-bar">
        </div>
      </div>
      <div class="content">
        <div class="contact-profile">
          <img id="profile-img" src="/images/images.png" class="online" >
          <input type="text" name="nameUser" maxlength="20" value="Curioso"><br>
        </div>
        <!--Local de carregamento das mensagens-->
        <div class="messages">
          <ul>
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
          <input type="text" placeholder="Escreva sua mensagem.." value="o que é a consistência de um requisito funcional?" />
          <button id="sendButtonMenssage" class="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>

      </div>
    </div>
  </div>
  <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script><script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src="/javascripts/chatCall.js"></script>
</body>
</html>
