<!DOCTYPE html>
<html>
  <head>
    <!-- HTML 4 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- HTML5 -->
    <meta charset="utf-8"/>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- template chat https://bootsnipp.com/snippets/featured/like-hangout-chat -->
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="/javascripts/script1.js"></script>
  </head>
  <body>
  	<div class="container">
	    <div class="row chat-window col-xs-6 col-md-4" id="chat_window_1"  style="margin-right:10px">
	        <div class="col-xs-12 col-md-12">
	        	<div class="panel panel-default">
              <div class="panel-heading top-bar">
                  <div class="col-md-8 col-xs-8">
                      <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> <%= title %></h3>
                  </div>
                  <div class="col-md-4 col-xs-4" style="text-align: right;">
                      <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
                      <a href="#"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>
                  </div>
              </div>

              <!--Local de carregamento das mensagens-->
              <div id="conteudo" class="panel-body msg_container_base">
                <!--  Espaço. Estetica  -->
                <div class="row msg_container base_sent"></div>
              </div>
              <div class="panel-footer">
                <form id ="chat">
                  <div class="input-group">
                    <input id="btn-input" type="text" name="mensagem" class="form-control input-sm chat_input" placeholder="Escreva sua mensagem.." value="o que é a consistência de um requisito funcional?"/>
                    <span class="input-group-btn">
                      <button class="btn btn-primary btn-sm" id="btn-chat" type="submit">Enviar</button>
                    </span>
                  </div>
                </form>
                <script src="/javascripts/chatCall.js"></script>
              </div>
             </div>
          </div>
        </div>
	   </div>
   </body>
</html>
